<%/* 
Content Heading using the title value in the controller 
*/%>

<h1><%= title %></h1>

<%# display messages if any%>
<%- messages() %>

<%# display errors if any%>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>


<%# registration form %>
<form class="register" action="/inv/add-inventory" method="post">
    <fieldset>
        <p>All fields are required.</p>
        <%# build classification dropdown options %>
        <label class="top">Classification</label>
        <%- classificationList %>
        <label class="top">Make<input type="text" id="invMake" name="inv_make" placeholder="Min of 3 characters" required pattern="^[a-zA-Z]{3,}?$" value="<%= locals.inv_make %>"></label>
        <label class="top">Model<input type="text" id="invModel" name="inv_model" placeholder="Min of 3 characters" required pattern="^[a-zA-Z0-9]{3,}?$" value="<%= locals.inv_model %>"></label>
        <label class="top">Year<input type="text" id="invYear" name="inv_year" required pattern="^[0-9]{4}?$" placeholder="4 digit year" value= %>"<%= locals.inv_year %>"></label>
        <label class="top">Description<textarea id="invDescription" class="textarea" name="inv_description" rows="9" cols="33" required><%= locals.inv_description %></textarea></label>
        <label class="top">Image path<input type="text" id="invImage" name="inv_image" value="/images/vehicles/no-image.png" required pattern="^[^\s]+\.(jpg|jpeg|png|gif|bmp)$"></label>
        <label class="top">Thumbnail path<input type="text" id="invThumbnail" name="inv_thumbnail" value="/images/vehicles/no-image.png" required pattern="^[^\s]+\.(jpg|jpeg|png|gif|bmp)$"></label>
        <label class="top">Price<input type="text" id="invPrice" name="inv_price" placeholder="Decimal or Integer" required pattern=^[0-9]\d*(\.\d+)?$ value="<%= locals.inv_price %>"></label>
        <label class="top">Miles<input type="text" id="invMiles" name="inv_miles" placeholder="digits only" required pattern="^[0-9]*$" value="<%= locals.inv_miles %>"></label>
        <label class="top">Color<input type="text" id="invColor" name="inv_color" required value="<%= locals.inv_color %>"></label>
        <input type="submit" id='inventory-submit' value="Submit" class="button">
    </fieldset>
</form>